!!! 5
html
  head
    //- Document settings
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="HandheldFriendly", content="True")

    //- Page meta
    title Purse

    //- Stylesheets
    link(type="text/css", rel="stylesheet", media="screen", href="stylesheets/normalize.css")
    link(type="text/css", rel="stylesheet", media="screen", href="stylesheets/screen.css")
  body
    #header.grid
      h1 Purse

    block content

    block scripts
