extends default

block content
  #content.grid
    p Hi. Your content goes here.

  #footer.grid
    p
      | Thanks for using Purse. Built lovingly by&nbsp;
      a(href="http://vladh.net") vladh
      | &nbsp;at&nbsp;
      a(href="http://phyramid.com") Phyramid
      | .

block scripts
  script(type="text/javascript", src="js/index.js")
